.content {
  margin-left: 250px;
}
@media screen and (max-width: 992px) {
  .content {
    margin-left: 0;
  }
}

.div {
  float: right;
  position: sticky;
  top: 20px;
  right: 60px;
  z-index: 1;
}
@media screen and (max-width: 576px) {
  .div {
    right: 20px;
    margin-top: 20px;
  }
}
